<div ng-controller="sendMessageCtrl" class="h-100">
    <h4 class="text-center">Sending the following sms to : {{selectedContact.firstName}} {{selectedContact.lastName}}</h4>
    <div class="align-items-center d-flex h-75 justify-content-center" style="box-shadow: 2px 2px 17px darkgrey;">
        <div class="row w-100">
            <div class="col-lg-9 col-md-12 col-sm-12 p-0">
                <textarea class="h-100 w-100" cols="30" rows="3" ng-model="message" disabled></textarea>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 p-0">
                <button class="btn btn-primary h-100 w-100" ng-click="sendMessage()">Send!
                    <i class="fas fa-envelope"></i>
                </button>
            </div>
        </div>
    </div>

</div>